<!--This page allows the user to set attendance for students as well as view previous days-->

<nav-bar></nav-bar>
<div class="attendance-sheet inner-container">
  <div class="col-md-6">
    <div class="input-group">
        <select class="form-control" ng-model="selectedDate" required>
          <option ng-repeat="date in attendanceDates" value="{{date}}">{{date}}</option>
        </select>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="getAttendance()">Go!</button>
        </span>
    </div>
  </div>
  <div ng-show="saved" class="alert alert-success">{{message}}</div>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="saveAttendance()">
    <table class="table">
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Attendance</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody ng-repeat="student in attendance.students">
        <tr>
          <td>{{student.lastName}}</td>
          <td>{{student.firstName}}</td>
          <td>
            <select class="form-control" ng-model="student.attendance" required>
              <option ng-repeat="value in enumAttendance" value="{{value}}">{{value}}</option>
            </select>
          </td>
          <td>
            <input type="text" class="form-control" name="note" ng-model="student.notes"n>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
          <button type="submit" class="btn btn-primary" value="Submit">Save</button>
    </div>
  </form>
</div>
