<!--This handles the navigation bar tabs-->
<!--Tabs are shown and hidden depending on whether the user is logged in or not-->

<div class="nav-bar">
  <ul class="nav nav-tabs" ng-init="selectedTab = 'attendanceSheet'">
    <li ng-class="{'active': currentURL === '/attendance_sheet'}" ng-hide="!isLoggedIn" ><a data-toggle="tab" href="#/attendance_sheet">Attendance Sheet</a></li>
    <li ng-class="{'active': currentURL === '/students'}" ng-hide="!isLoggedIn" ><a data-toggle="tab" href="#/students">Students</a></li>
    <li ng-class="{'active': currentURL === '/pickup_dropoff'}" ng-hide="!isLoggedIn" ><a data-toggle="tab" href="#/pickup_dropoff">Pick-up/Drop-Off</a></li>
    <li ng-class="{'active': currentURL === '/account_manager'}" ng-hide="!isLoggedIn || !isAdmin" ><a data-toggle="tab" href="#/account_manager">Account Manager</a></li>
    <li ng-class="{'active': currentURL === '/login'}" ng-hide="isLoggedIn"><a data-toggle="tab" href="#/login">Login</a></li>
    <a ng-click="logout()" ng-hide="!isLoggedIn" class="btn btn-default">Logout</a>
  </ul>
</div>
