<nav-bar></nav-bar>
<div class="students">
  <table class="table">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Food Allergies</th>
        <th>Medical Allergies</th>
        <th>Medical Needs</th>
        <th>Emergency Contact</th>
        <th>Em. Contact Phone Number</th>
        <th>Relationship</th>
      </tr>
      <tbody ng-repeat="student in students">
        <tr ng-click="setSelected(student._id)">
          <td>{{student.lastName}}</a></td>
          <td>{{student.firstName}}</td>
          <td><p ng-repeat="foodAllergy in student.medicalInfo.foodAllergies">{{foodAllergy}}<p></td>
          <td><p ng-repeat="medicalAllergy in student.medicalInfo.medicalAllergies">{{medicalAllergy}}<p></td>
          <td>{{student.medicalInfo.medicalNeeds}}</td>
          <td>{{student.emergencyContact.emFirstName}} {{student.emergencyContact.emLastName}}</td>
          <td>{{student.emergencyContact.emPhone}}</td>
          <td>{{student.emergencyContact.relationship}}</td>
        </tr>
      </tbody>
    </thead>
  </table>
  <a href='#/new_student'><button type="button" class="btn btn-primary">Add Student</button></a>
</div>
